
.question-body {
    padding:20px;
    text-align: left;
  }
  
  .question-content {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 16px;
    background-color: #cecece;
    overflow-wrap: break-word;
    overflow:auto;
  }
  